extends layout

block content
  div.SharedNoteView
    div#container-boundingbox.wrapper
      div#container.wrapper
        h2.page-header Cnode2Pocket

        div.logo
          div.node-brand.pull-left
            img(src="/images/cnodejs_light.svg")

          div.pocket-brand.pull-right
            img(src="/images/pocket-logo.png")

