extends layout

block content
  div.jumbotron
    div.container
      h3.title Cnode2Pocket

      div.row
        div.col-md-4.cbtn
          a.btn.btn-success.btn-lg Access

        div.col-md-4.cbtn
          a.btn.btn-primary.btn-lg(data-toggle="tooltip" data-placement="top" title="如果有新的精华，会自动推送到pocket") 订阅


        div.col-md-4.cbtn
          a.btn.btn-primary.btn-lg(data-toggle="tooltip" data-placement="top" title="完整导入现有精华到Pocket") 导入


